<div class = "headercontainer"> 
    <img class = "cinemalogo" src = "/css/cinemalogo.png" alt = "">
</div>


<div class="search-bar">
    <input type="text" placeholder="Search" class="search-box">
</div>
