<div class="nav-wrapper" >
    <div class = "headercontainer item-1"> 
        <a href='/'><img class = "cinemalogo" src = "/css/cinemalogo.png" alt = ""></a>
    </div>
    <a href="/logout" class="login-btn item-2">LOGOUT</a>
</div>