*{
    box-sizing: border-box;
}

html{
    /* background-color: rgb(192, 195, 197); */
    background-color: #1b1d27;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}


/* search bar styling */
/* .search-bar{
    margin-bottom:20px;
} */
.search-bar input{
    color: white;
    background-color: rgb(141, 147, 150);
    padding:15px;
    font-size: 24px;
    margin-left:73%;
    

}

.search-bar input:focus{
    outline: none;
}


/* whole container in the home page */
.container{
    
    max-width:1400px;
    margin: 0px auto;
}


/* styles for the result container */
.results{
    padding-inline-start: 0;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}


/* each item in the container */
.result-item{
    border-radius:18px;
    background-color:rgb(192, 195, 197) ;
    flex-basis: 30%;
    margin:1.5%;
    padding:10px;
    margin-top:10px;
    margin-bottom: 10px;
    box-shadow: 7px 7px 10px #717172;
    position: relative;
    overflow: hidden;
    transition: 0.3s ease-in-out;
}

.result-item:hover{
    cursor: pointer;
    border: 5px solid rgb(250, 155, 138);

}

.result-item img{
    width:100%;
    max-height:450px;
    /* object-fit: contain; */

}

.result-item h3{
    /* text-align: center; */
    color:rgb(31, 31, 30);
}


.movie-details{
    color:rgb(31, 31, 30);
    display: flex;
    justify-content: space-between;
}


/* style for the overview of the the image which is displayed after hovering the individual result div */
.overview{
    background-color: white;
    color: rgb(7, 0, 0);
    padding:10px;
    position: absolute;
    left:0;
    bottom:0;
    right:0;
    min-height: 50%;
    max-height:100%;
    transform: translateY(101%);
    transition: transform 0.6s ease-in-out;
    opacity: 0.9;
}

.result-item:hover .overview{
    transform: translateY(0); 
     
}

/* movie info page */

.movieinfo{
    color:rgb(197, 194, 194);
    display: flex;
}

.movieinfo .image{
    flex-basis:40%;
    
}

.movieinfo .contents{
    flex-basis:60%;
    padding-left: 40px;
    
}

.movieinfo .contents .title h2{
    margin: 0;
}

.contents{
    max-height:600px;
}

.image img{
   width:100%;
   max-height:600px;
}

/*style for forgotpassword page*/
.forgotpasswordtext {
    color: white;
}



/* /rating css */

.rating-container{
    padding:20px;
    color: whitesmoke;
    text-align: center;
    width:30%;
    margin:30vh auto;
    border:5px solid rgb(250, 101, 101);
    border-radius: 30px;
    align-self: center;
    
   
  }
  
  .stars{
    list-style: none;
    display:flex;
    /* align-items: center; */
    justify-content: center;
    /* background-color: yellowgreen; */
  }
  
  /* .stars:hover li a i{
    color: yellowgreen;
  
  } */
  
  ol{
    width:100%;
    padding-left: 0;
  }
  
  .stars li a i{
    font-size: 40px;
    color: gainsboro;
    /* align-items: center; */
    
  }
  
  .stars li a i:hover{
    color:yellowgreen;
  }
  
  .starss{
      padding:3px;
  }
  .starss.yellowgreen i{
    color:yellowgreen;
  }
  
  .starss.gray i{
    color:gray;
  }
  
  .info{
    font-size:24px;
   text-align: center;
   color:yellowgreen;
   margin-top:20px;
   margin-bottom:20px;
  }
  
  .star-btn{
    pointer-events: none;
    display: block;
    font-size: 24px;
    background-color: rgb(172, 169, 169);
    width:50%;
    margin:30px auto;
    cursor: pointer;;
    padding:10px 20px;
    border-radius: 10px;
    box-shadow: 2px 5px 3px gray;
    transition: 0.5s ease-in-out;
    
  }

  .star-btn.active{
      pointer-events: all;
  }
  .star-btn:hover{
    background: yellowgreen;
    
    /* color: white !important; */
  }

 

.rating-container a{
    margin-top:20px;
    color: white;
}

.star-btn:hover a{
color:white
}
  
#tags{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

.tag{
    color: white;
    padding: 10px 20px;
    background-color: orange;
    border-radius: 50px;
    margin: 5px;
    display: inline-block;
    cursor: pointer;

}

.taghighlight{
    background-color: red;
}

.no-results{
    color: white;
}
  
  
  
  