<div class="container">
    <%- include ('../partials/navbar') %> 
    <a href='/login'>LOGIN</a>  

    
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="/home.js"></script>




<!-- <li class="result-item">
    <a href="/movieinfo">
        <img src="./movie-img.jpg" alt="image">
        <h3>Title: movie suman</h3>
        <p>Ratings</p>
        <p>Number of users that voted the movie</p>
        <div class="overview">nagjlsbgjbjgbabgabgjasbjgba</div>
    </a>
</li>
<li class="result-item">
    <a href="/movieinfo">
        <img src="./movie-img.jpg" alt="image">
        <h3>Title: movie suman</h3>
        <p>Ratings</p>
        <p>Number of users that voted the movie</p>
        <div class="overview">nagjlsbgjbjgbabgabgjasbjgba</div>
    </a>
</li>
<li class="result-item">
    <a href="/movieinfo">
        <img src="./movie-img.jpg" alt="image">
        <h3>Title: movie suman</h3>
        <p>Ratings</p>
        <p>Number of users that voted the movie</p>
        <div class="overview">nagjlsbgjbjgbabgabgjasbjgba</div>
    </a>
</li> -->

<!-- <div>
    
    <div class="results">
        <div class="result-item">
            <img src="./movie-img.jpg" alt="image">
            <h3>title: movie suman</h3>
            <p>ratings</p>
            <p>number of users that voted the movie</p>
        </div>
        <div class="result-item">
            <img src="./movie-img.jpg" alt="image">
            <h3>title: movie suman</h3>
            <p>ratings</p>
            <p>number of users that voted the movie</p>
        </div>
        <div class="result-item">
            <img src="./movie-img.jpg" alt="image">
            <h3>title: movie suman</h3>
            <p>ratings</p>
            <p>number of users that voted the movie</p>
        </div>
        <div class="result-item">
            <img src="./movie-img.jpg" alt="image">
            <h3>title: movie suman</h3>
            <p>ratings</p>
            <p>number of users that voted the movie</p>
        </div>
    </div>
</div>  -->